*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#titulocentral{
  margin-left: 20px;
  font-size: 30px;
}
body{
  background-color: #40916C;
  overflow-x: hidden ;
}
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
/* ============================ */
/* <style for bg> ======== */

/* <style for menu__icon> ======== */
.menu__icon {
  margin-left: 50px;
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: #40916C;
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, opacity .4s;
}

.menu__icon:hover span:nth-child(1) {

  transform: translateY(11px) rotate(-45deg);
}

.menu__icon:hover span:nth-child(2) {
  transform: translate(-50%);
  opacity: 0;
}

.menu__icon:hover span:nth-child(3) {
  transform: translateY(-11px) rotate(45deg);
}
#abelhinha{
  width: 95px;
  height: 95px;
  margin-left: 400px;
}
#divpai{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#navbar{
  width: 100%;
  height: 60px;
  background-color: #52B788;
  display: flex;
  align-items: center;
}

#tituloNav{
  margin-left: 200px;
  font-size: 30px;
}
ul{
  list-style: none;
}

#Menu{
  margin-top: 50px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 150px;
  height: 100%;
  background-color: #3CA272;
}

#Menu li{
  margin-top: 10px;
  cursor: pointer;
}
.Carrosel li{
  position: relative;
  left: -550px;
  animation: slide 15s infinite ease-out;
  margin-left: 12px;
}
.Carrosel{
  border-radius: 40px;
  overflow: hidden;
  width: 550px;
  height: 450px;
}
.Carrosel ul{
  display: flex;
  list-style: none;
  width: 1650px;
  height: 450px;
} 
img{  
  border-radius: 40px;
  width: 550px;
  height: 450px;
}
#titulorotas{
  font-size: 40px;
  padding-bottom: 20px;
}
#titulo{
  width: 100%;
  text-align: center;
}

#ContainerRotas{
  margin-top: 50px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#containerRotas{
  justify-content: space-around;
  width: 100%;
  display:  flex;
}
.cardcon{
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #52B788;
  width: 400px;
  height: 450px;
}
#titulorotaplanta{
  text-align: center;

}
.cardcon button{
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  font-weight: bold;
  color: white;
  background-color: #3CA272;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 500px ) {
  #cobrasvg{
    float: right;
    margin-right: -300px;
    margin-top: -20px;
  }
  *{
    margin: 0px ;
  }
  #Menu{
    z-index: 1;
    text-align: center;
    width: 170px;
    height: 100%;
    font-size: 12px;
    display: flex;
    position: fixed  ;
  }
  #Menu li{
    height: 30px;
    margin-bottom: 20px;
  }
  #Menu a{
    text-decoration: none;
  }
  #Tucas{
    margin-bottom: -50px;
    margin-left: -35px;
  }

  svg{
    margin-top: -5px;
    margin-left: 6px;
    float: left;
  }
  
  #navbar{
    height: 50px;
    position: fixed;
    z-index: 2;
  }
  #tituloNav{
  margin-left:60px;
  }
  .menu__icon{
    margin-left: 10px ;
  }
  .Carrosel{
    border-radius: 20px;
    width: 220px;
    height: 180px;
  }
  .Carrosel ul{
    width: 690px;
    height: 180px;
  }
  .Carrosel li{
    position: relative;
    left: -230px;
    animation: slide2 15s infinite ease-out;
  }
  img{
    border-radius: 20px;
    width: 220px;
    height: 180px;
  }
  @keyframes slide2{
    0%{left: 0px;}
    33%{left: -230px;}
    66%{left: -460px;}
    99%{left: 0px;}
    100%{left: 0px;}
  }

  body{
    overflow-x: hidden ;
  }
  .cardcon{
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #52B788;
    width: 130px;
    height: 300px;
  }
  .cardcon .button1{
    width: 100px;
    font-weight: bold;
    color: white;
    background-color: #3CA272;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .cardcon .Carrosel{
    width: 110px;
    height: 180px;
  }
  .cardcon .Carrosel ul{
    width: 340px;
    height: 180px;
  }
  .cardcon .Carrosel li{
    left: -110px;
    animation: slide3 15s infinite ease-out;
    margin-left: 10px;
  }
  .cardcon img{
    border-radius: 20px;
    width: 110px;
    height: 180px;
  }
  @keyframes slide3{
    0%{left: 0px;}
    33%{left: -120px;}
    66%{left: -240px;}
    99%{left: 0px;}
    100%{left: 0px;}
  }
  #onca{
    margin-top: 30px;
    margin-right: 10px;
    float: right;
  }
}
@keyframes slide{
  0%{left: 0px;}
  33%{left: -362px;}
  66%{left: -724px;}
  99%{left: 0px;}
  100%{left: 0px;}
}