@media (min-width: 500px) {
#Containerintrodução{
  padding-top:60px ;
  padding-bottom: 60px;
}
  #FtProjeto{
      float: left;
      margin-top: 50px;
      margin-left: 20px;
  }
  #FtProjeto2{
    float: right;
}

#FtProjeto{
  background-color: lightgray;
  border-radius: 40px;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}
      
  #TitDescProj{
    text-align: left;
    margin-left: 30px;
  }
  #FtRelogio{
    background-color: lightgray;
    border-radius: 40px;
    width: 300px;
    height: 300px;
    margin-top: 20px;;
  }
  #FtGlobo{
    background-color: lightgray;
    border-radius: 40px;
    width: 95px;
    height: 95px;
  }


    #div1txtcarrosel{
      margin-left: 50px;
    }
    #TitDescProj{
      margin-top: 15px;
      text-align: center;
      font-size: 30px;
    }
    #parte2{
      padding-top: 60px;
      margin-bottom: 100px;
    }

    #blue{
      margin-top: 320px;
      margin-left: -30px;
    }
    #FtProjeto1{
      float: left;
      width: 180px;
      height: 280px;
      border:solid lightgray;
      background-color: lightgray;
      border-radius: 40px;
      padding-top: 10px ;
      margin-top: 60px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    #Mico{
      margin-top: -120px;
      margin-left: -80px;
    }
      .DescProjeto{
        text-align: justify;
        margin-top: 60px;
        margin-left: 250px;
        width: 220px;
        height: 190px;
        font-size: 20px;
    }
    #txtparte2{
      margin-top: 120px;
      margin-left: 20px;
      width: 200px;
      height: 200px;
      font-size: 20px;
    }
    #FtProjeto2{
      margin-right: 70px;
      margin-top: 120px;
    }
    #foto2 svg{
      float: right;
      margin-right: -250px;
      margin-top: 270px;
    }
  }
  @media (min-width: 480px) {
    #Containerintrodução{
      padding-top:60px ;
      padding-bottom: 60px;
    }
      #FtProjeto{
          float: left;
          margin-top: 50px;
          margin-left: 20px;
      }
      #FtProjeto2{
        float: right;
    }
    
    #FtProjeto{
      background-color: lightgray;
      border-radius: 40px;
      width: 180px;
      height: 180px;
      margin-top: 40px;
    }
          
      #TitDescProj{
        text-align: left;
        margin-left: 30px;
      }
      #FtRelogio{
        background-color: lightgray;
        border-radius: 40px;
        width: 300px;
        height: 300px;
        margin-top: 20px;;
      }
      #FtGlobo{
        background-color: lightgray;
        border-radius: 40px;
        width: 95px;
        height: 95px;
      }
    
    
        #div1txtcarrosel{
          margin-left: 50px;
        }
        #TitDescProj{
          margin-top: 15px;
          text-align: center;
          font-size: 30px;
        }
        #parte2{
          padding-top: 60px;
          margin-bottom: 120px;
        }
    
        #blue{
          margin-top: 320px;
          margin-left: -30px;
        }
        #FtProjeto1{
          float: left;
          width: 180px;
          height: 280px;
          border:solid lightgray;
          background-color: lightgray;
          border-radius: 40px;
          padding-top: 10px ;
          margin-top: 60px;
          margin-left: 20px;
          margin-bottom: 20px;
        }
        #Mico{
          margin-top: -120px;
          margin-left: -80px;
        }
          .DescProjeto{
            text-align: justify;
            margin-top: 60px;
            margin-left: 250px;
            width: 220px;
            height: 190px;
            font-size: 19.5px;
        }
        #txtparte2{
          margin-top: 120px;
          margin-left: 20px;
          width: 200px;
          height: 200px;
          font-size: 19.5px;
        }
        #FtProjeto2{
          margin-right: -50px;
          margin-top: 120px;
        }
        #foto2 svg{
          float: right;
          margin-right: -250px;
          margin-top: 260px;
        }
      }
      @media (min-width: 460px) {
        #Containerintrodução{
          padding-top:60px ;
          padding-bottom: 90px;
        }
          #FtProjeto{
              float: left;
              margin-top: 50px;
              margin-left: 20px;
          }
          #FtProjeto2{
            float: right;
        }
        
        #FtProjeto{
          background-color: lightgray;
          border-radius: 40px;
          width: 170px;
          height: 170px;
          margin-top: 40px;
        }
              
          #TitDescProj{
            text-align: left;
            margin-left: 30px;
          }
          #FtRelogio{
            background-color: lightgray;
            border-radius: 40px;
            width: 300px;
            height: 300px;
            margin-top: 20px;;
          }
          #FtGlobo{
            background-color: lightgray;
            border-radius: 40px;
            width: 95px;
            height: 95px;
          }
        
        
            #div1txtcarrosel{
              margin-left: 50px;
            }
            #TitDescProj{
              margin-top: 15px;
              text-align: center;
              font-size: 28px;
            }
            #parte2{
              padding-top: 60px;
              margin-bottom: 60px;
            }
        
            #blue{
              margin-top: 320px;
              margin-left: -30px;
            }
            #FtProjeto1{
              float: left;
              width: 180px;
              height: 280px;
              border:solid lightgray;
              background-color: lightgray;
              border-radius: 40px;
              padding-top: 10px ;
              margin-top: 60px;
              margin-left: 20px;
              margin-bottom: 20px;
            }
            #Mico{
              margin-top: -80px;
              margin-left: -80px;
            }
              .DescProjeto{
                text-align: justify;
                margin-top: 60px;
                margin-left: 250px;
                width: 220px;
                height: 190px;
                font-size: 18.5px;
            }
            #txtparte2{
              margin-top: 120px;
              margin-left: 20px;
              width: 200px;
              height: 200px;
              font-size: 18.5px;
            }
            #FtProjeto2{
              margin-right: -50px;
              margin-top: 120px;
            }
            #foto2 svg{
              float: right;
              margin-right: -250px;
              margin-top: 260px;
            }
          }
          @media (max-width: 440px) {
            #Containerintrodução{
              padding-top:60px ;
              padding-bottom: 90px;
            }
              #FtProjeto{
                  float: left;
                  margin-top: 50px;
                  margin-left: 20px;
              }
              #FtProjeto2{
                float: right;
            }
            
            #FtProjeto{
              background-color: lightgray;
              border-radius: 40px;
              width: 170px;
              height: 170px;
              margin-top: 40px;
            }
                  
              #TitDescProj{
                text-align: left;
                margin-left: 30px;
              }
              #FtRelogio{
                background-color: lightgray;
                border-radius: 40px;
                width: 300px;
                height: 300px;
                margin-top: 20px;;
              }
              #FtGlobo{
                background-color: lightgray;
                border-radius: 40px;
                width: 95px;
                height: 95px;
              }
            
            
                #div1txtcarrosel{
                  margin-left: 50px;
                }
                #TitDescProj{
                  margin-top: 15px;
                  text-align: center;
                  font-size: 28px;
                }
                #parte2{
                  padding-top: 60px;
                  margin-bottom: 60px;
                }
            
                #blue{
                  margin-top: 320px;
                  margin-left: -30px;
                }
                #FtProjeto1{
                  float: left;
                  width: 180px;
                  height: 280px;
                  border:solid lightgray;
                  background-color: lightgray;
                  border-radius: 40px;
                  padding-top: 10px ;
                  margin-top: 60px;
                  margin-left: 20px;
                  margin-bottom: 20px;
                }
                #Mico{
                  margin-top: -80px;
                  margin-left: -80px;
                }
                  .DescProjeto{
                    text-align: justify;
                    margin-top: 60px;
                    margin-left: 250px;
                    width: 220px;
                    height: 190px;
                    font-size: 19px;
                }
                #txtparte2{
                  margin-top: 120px;
                  margin-left: 20px;
                  width: 200px;
                  height: 200px;
                  font-size: 19px;
                }
                #FtProjeto2{
                  margin-right: -50px;
                  margin-top: 120px;
                }
                #foto2 svg{
                  float: right;
                  margin-right: -250px;
                  margin-top: 260px;
                }
              }
              @media (max-width: 420px) {
                #Containerintrodução{
                  padding-top:60px ;
                  padding-bottom: 90px;
                }
                  #FtProjeto{
                      float: left;
                      margin-top: 50px;
                      margin-left: 20px;
                  }
                  #FtProjeto2{
                    float: right;
                }
                
                #FtProjeto{
                  background-color: lightgray;
                  border-radius: 40px;
                  width: 170px;
                  height: 170px;
                  margin-top: 40px;
                }
                      
                  #TitDescProj{
                    text-align: left;
                    margin-left: 30px;
                  }
                  #FtRelogio{
                    background-color: lightgray;
                    border-radius: 40px;
                    width: 300px;
                    height: 300px;
                    margin-top: 20px;;
                  }
                  #FtGlobo{
                    background-color: lightgray;
                    border-radius: 40px;
                    width: 95px;
                    height: 95px;
                  }
                
                
                    #div1txtcarrosel{
                      margin-left: 50px;
                    }
                    #TitDescProj{
                      margin-top: 15px;
                      text-align: center;
                      font-size: 28px;
                    }
                    #parte2{
                      padding-top: 60px;
                      margin-bottom: 60px;
                    }
                
                    #blue{
                      margin-top: 320px;
                      margin-left: -30px;
                    }
                    #FtProjeto1{
                      float: left;
                      width: 180px;
                      height: 280px;
                      border:solid lightgray;
                      background-color: lightgray;
                      border-radius: 40px;
                      padding-top: 10px ;
                      margin-top: 60px;
                      margin-left: 20px;
                      margin-bottom: 20px;
                    }
                    #Mico{
                      margin-top: -80px;
                      margin-left: -80px;
                    }
                      .DescProjeto{
                        text-align: justify;
                        margin-top: 60px;
                        margin-left: 250px;
                        width: 220px;
                        height: 190px;
                        font-size: 19px;
                    }
                    #txtparte2{
                      margin-top: 120px;
                      margin-left: 20px;
                      width: 200px;
                      height: 200px;
                      font-size: 19px;
                    }
                    #FtProjeto2{
                      margin-right: -50px;
                      margin-top: 120px;
                    }
                    #foto2 svg{
                      float: right;
                      margin-right: -250px;
                      margin-top: 260px;
                    }
                  }
                  @media (max-width: 440px) {
                    #Containerintrodução{
                      padding-top:60px ;
                      padding-bottom: 90px;
                    }
                      #FtProjeto{
                          float: left;
                          margin-top: 50px;
                          margin-left: 20px;
                      }
                      #FtProjeto2{
                        float: right;
                    }
                    
                    #FtProjeto{
                      background-color: lightgray;
                      border-radius: 40px;
                      width: 170px;
                      height: 170px;
                      margin-top: 40px;
                    }
                          
                      #TitDescProj{
                        text-align: left;
                        margin-left: 30px;
                      }
                      #FtRelogio{
                        background-color: lightgray;
                        border-radius: 40px;
                        width: 300px;
                        height: 300px;
                        margin-top: 20px;;
                      }
                      #FtGlobo{
                        background-color: lightgray;
                        border-radius: 40px;
                        width: 95px;
                        height: 95px;
                      }
                    
                    
                        #div1txtcarrosel{
                          margin-left: 50px;
                        }
                        #TitDescProj{
                          margin-top: 15px;
                          text-align: center;
                          font-size: 28px;
                        }
                        #parte2{
                          padding-top: 60px;
                          margin-bottom: 60px;
                        }
                    
                        #blue{
                          margin-top: 320px;
                          margin-left: -30px;
                        }
                        #FtProjeto1{
                          float: left;
                          width: 180px;
                          height: 280px;
                          border:solid lightgray;
                          background-color: lightgray;
                          border-radius: 40px;
                          padding-top: 10px ;
                          margin-top: 60px;
                          margin-left: 20px;
                          margin-bottom: 20px;
                        }
                        #Mico{
                          margin-top: -80px;
                          margin-left: -80px;
                        }
                          .DescProjeto{
                            text-align: justify;
                            margin-top: 60px;
                            margin-left: 250px;
                            width: 220px;
                            height: 190px;
                            font-size: 19px;
                        }
                        #txtparte2{
                          margin-top: 120px;
                          margin-left: 20px;
                          width: 200px;
                          height: 200px;
                          font-size: 19px;
                        }
                        #FtProjeto2{
                          margin-right: -50px;
                          margin-top: 120px;
                        }
                        #foto2 svg{
                          float: right;
                          margin-right: -250px;
                          margin-top: 260px;
                        }
                      }
              