@media (max-width: 500px) {
    #plantasTitulo{
        padding: 15px;
        font-size: 18px;
    }
    #Lambari{
        padding: 20px;
        margin-bottom: 50px;
    }
    #Texto4{
        width: 190px;
        font-size: 20px;
    }
    #FtProjeto3 svg{
        margin-top: 80px;
        margin-left: -60px;
    }
    #botao1plantas{
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Azulzinhatitulo{
        padding: 20px;
        margin-left: 300px;
    }
    #Texto5{
        margin-bottom: 20px;
        font-size: 20px;
    }
    #Agapantus{
        padding: 20px ;
    }
    #Texto10{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        width: 220px;
        font-size: 14px;
    }
    #FlorRoxa{
        margin-left: 110px;
        margin-top: -50px;
    }
    #Texto10 button{
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 150px;
        font-weight: bold;
        color: white;
        background-color: #3CA272;
        padding: 1em 2em;
        border: none;
        border-radius: .6rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;   
        background-color: #3CA272;

    }
    #FtProjeto06{
        float: right;
        width: 220px;
        height: 250px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;

    }
    #FtProjeto6 svg{
        margin-top: 50px;
        margin-left: -60px;
    }
    #FtProjeto5 svg{
        margin-top: 160px;
    }
    #FtProjeto5{
        float: left;
        width: 220px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;

    }
    #FtProjeto6{
        float: right;
        width: 220px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;
        margin-top: 20px;
    }
    #FtProjeto2{
        float: right;
        width: 220px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;
    }
    #FtProjeto3{
        margin-top: 20px;
        float: right;
        width: 220px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;
    }
    #FtProjeto2 svg{
        margin-top: -50px;
        margin-left: 160px;
    }
    #Gazaniatitulo{
        padding: 20px;
    }
    #FtProjeto7{
        margin-top: 20px;
        float: left;
        width: 230px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-left: 20px;
    
    }
    #Bromelia{
        margin-top: 100px;
    }
    #Texto6{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        width: 220px;
        font-size: 14px;
    }
    #FtProjeto10 svg{
        margin-top: 105px;
        margin-left: 60px;
    }
    #botao7plantas {  
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;   
}
      #botao7plantas button {
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
        width: 150px;
        font-weight: bold;
        color: white;
        background-color: #3CA272;
        padding: 1em 2em;
        border: none;
        border-radius: .6rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;   
        background-color: #3CA272;
    }
    #Texto6 button{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 40px;
    }
    #fotosgazania{
        float: left;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    #FtProjeto8{
        margin-top: 20px;
        width: 230px;
        height: 180px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-left: 20px;
    
    }
    #botao3plantas button{
        font-family: Arial, Helvetica, sans-serif;
        width: 150px;
        font-weight: bold;
        color: white;
        background-color: #3CA272;
        padding: 1em 2em;
        border: none;
        border-radius: .6rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;   
        background-color: #3CA272;
    }
    
    #botao1plantas button{
        font-family: Arial, Helvetica, sans-serif;
        width: 250px;
        font-weight: bold;
        color: white;
        background-color: #3CA272;
        padding: 1em 2em;
        border: none;
        border-radius: .6rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;   
        background-color: #3CA272;
    }
    #Introdução_Plantas{
        font-size: 18px;
        height: 500px;
    }
    #Arvore{
        width: 250px;
        margin-top: 100px;
        height: 300px;
    }
    #Terra{
        margin-top: -100px;
        margin-bottom: 50px;
    }
    #Introdução_Plantas #Texto1{
        float: left;
        width: 220px;
        padding: 10px;
        font-size: 20px;
    }
    #botao2plantas{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #botao2plantas button{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
        width: 150px;
        font-weight: bold;
        color: white;
        background-color: #3CA272;
        padding: 1em 2em;
        border: none;
        border-radius: .6rem;
        position: relative;
        cursor: pointer;
        overflow: hidden;   
        background-color: #3CA272;
    }
    #Introdução_Plantas #Texto2{
        float: right;
        width: 200px;
        padding: 20px;
        padding-top: 150px;
        font-size: 14px;
    }
    #Flora{

        margin-bottom: 350px;
        margin-top: 30px;
        font-size: 14px;
    }
    #Flora p {
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
    #Texto3{
        float: right;
        margin-right: 20px;
        height: 200px;
        width: 200px;
        font-size: 20px;
    }
    #img1{
        float: left;
        background-color: gray;
        margin-left: 20px  ;
        width: 180px;
        height: 180px;
    }
    #beterraba{
        float: right;
        margin-top: -50px;
    }
    #Bromeliatitulo{
        padding: 20px;
        font-size: 20px;
    }
    #Texto7{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 96%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    #FtProjeto9{
        margin-top: -20px;
        width: 200px;
        height: 200px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;
    }
    #fotos{
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
    }
    #FtProjeto10{
        margin-top: -20px;
        width: 200px;
        height: 200px;
        border:solid lightgray;
        background-color: lightgray;
        border-radius: 40px;
        margin-right: 20px;
    }
}   