#SustentabilidadeConSus{
    height: 450px;
  }
  h2{
    margin-top:40px;
    font-size: 22px;
    margin-left: 30px;
  }
  #Texto1Sus{
    float: right;
    width: 180px;
    height: 200px;
    text-align: justify;
    font-size: 18px;
    margin-right: 30px;
  }
  #Titulo1Pin{
    padding: 15px;
    font-size: 22px;
  }
  #Texto2Sus{
    width: 240px;
    font-size: 18px;
    float: left;
    margin-left: 30px;
    margin-top: 50px;
  }
  #FtProjeto1Sus{
    width: 220px;
    height: 240px;
    border:solid lightgray;
    background-color: lightgray;
    border-radius: 40px;
    padding-top: 10px ;
    margin-top: 20px;
    margin-left: 20px;
  }
  #Simbolo3r{
        float: right;
        margin-top: 130px;
        margin-left:-20px;
  }
  
  #FtProjeto2Sus{
    margin-top: 30px;
    margin-right: 20px;
    width: 200px;
    height: 180px;
    border:solid lightgray;
    background-color: lightgray;
    float:right;
    border-radius: 40px;
  }
  #Titulo2Sus{
    font-size: 30px;
  }
  #Sus1{
    margin-left: 1630px;
    margin-top: -470px;
  }
  #Sus2{
  position: absolute;
  left: 180px;
  }